/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Barrio|Alegreya+SC|Alegreya+Sans|Amatic+SC);

/* == PALETA == */
$verde:#589b37; 
$negro: #222;
$gris: #ccc;
$gris_o: #666;
$gris_o2: #333;
$morado: #aa66cc;
/* == TAMAÑO DE LETRA == */ 
$letra-grande: 18px; $letra-peq: 12px;
/* == PADDING == */ $padding: 0.677rem;
/* == MARGIN == */ $margin: 0.887rem; 
$fechpost: "Amatic SC";
$titpost: "Alegreya SC";
$letrapost: "Alegreya Sans";
$letrarara: "Barrio";


@media (max-width: 575.98px) {

  .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 10%;
      transform: none;
      text-align: center;
      
      h1 { font-size: 2em; }
    
      p { font-size: 1.2rem; }
  }
    
  .features {
      margin: 0;
  }
  
}



.page-footer {
    background-color: $negro;
    color: $gris;
    padding: 60px 0 30px;
}
  
.footer-copyright {
    color: $gris_o;
    padding: 40px 0;
}

.features .form-control,
.features input {
    border-radius: 0;
}

.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
  
    .btn {
      background-color: $verde;
      border: 1px solid $verde;
      color: #fff;
      margin-top: 20px;

    &:hover {
      background-color: $gris_o2;
      border: 1px solid $gris_o2;
    }
  }

    p {
      padding-top: 10px;
    }

    /* img {
    #  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    #  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      margin-bottom: 16px;
    } */
} 

.feature-title {
    color: $gris_o2;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.header {
    background-image: url('images/piqsels.com-fondo.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;

  h1 { color: $negro;
  }
    
  p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
  }
    
  body {
    padding: 0 0 0 60px;
    margin: 0;
    background: #fff;    
  }
    
  button {
      border:1px solid $verde;
      background: $verde;
      border-radius: 0;
      color:#fff;

    &:hover {
      border:1px solid #fff;
      background:#fff;
      color:#000;
    }
    
  }
}




.other-footer {
  background-color: $negro;
  height: 100px;
  width: 100%;
  color: $gris;
}

.raro {
  font-family: $letrarara;
  color: $verde;
}

.banner {
  background-size: cover;
  background-position: center;
  position: relative;
}


.fecha {
    color: $gris_o2;
    font-family: $fechpost;
    text-align: right;
    padding: 20px;
  }

.post {
    text-align: center;
    padding: 0 30px 30px 0;
    overflow-y: scroll;
  
    h3 { color: $negro;
        font-family: $titpost;
    }
    
    h4,h5 { color: $gris_o2;
         font-family: $fechpost;
         text-align: right;
    }  
  
    p {
    color: $negro;
    font-family: $letrapost;
    line-height: 1.5;
    text-align: justify;
    }
    
    button {
      border:1px solid $verde;
      background: $verde;
      border-radius: 0;
      color:#fff;
  
      &:hover {
        border:1px solid #fff;
        background:#fff;
        color:#000;
      }
    }
   }

  /* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

  
  /*--- navigation bar ---*/
  
  .navbar {
    background: $negro;
  }
  
  .nav-link,
  .navbar-brand {
    color: $gris;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em !important;
    &:hover {
      color: $gris_o;
    }
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
